<h1>Listing feed_streams</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Min value</th>
      <th>Max value</th>
      <th>Start value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_streams.each do |feed_stream| %>
    <tr>
      <td><%= feed_stream.unit_id %></td>
      <td><%= feed_stream.min_value %></td>
      <td><%= feed_stream.max_value %></td>
      <td><%= feed_stream.start_value %></td>
      <td><%= link_to 'Show', feed_stream %></td>
      <td><%= link_to 'Edit', edit_feed_stream_path(feed_stream) %></td>
      <td><%= link_to 'Destroy', feed_stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Stream', new_feed_stream_path %>
