<script>

// When the user leaves the facet_name field write the name to each of the sub fields

// on change of the facet type render the fields in the form. But we should keep track of the state for each of the different reports if the user decides to change the form

</script>


<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= fields_for :facets do |facets| %>
  <%= text_field_tag :facet_name %>
  <%= select_tag :facet_type options_for_select([['statistical', "Statistical"],['terms_stats', "Term Statistics"],['terms', "Terms"],['range', 'Range'],['histogram','Histogram'],['filter', 'Filter']]) %>

  <!-- Statistical -->
    <%= select_tag :statistical_type options_for_select([['fields','Fields'],['script', 'Script']]) %>
    <!-- Field -->
    <%= facets.select_tag "[name][statistical][field]",options_from_collection_for_select(@fields, :key, :name) %>
    <%= facets.select_tag "[name][statistical][fields][]",options_from_collection_for_select(@fields, :key, :name) %>
    <!-- Script -->
    <%= text_area_tag "facets[name][statistical][script]" %>
    <!-- to add a variable -->
    <%= text_field_tag "facets[stat1][statistical][params][factor]" %>
  <!-- Term Statistics -->
  <!-- Filter the key field to include only string fields -->
    <%= select_tag "facets[name][terms_stats][key_field]", options_from_collection_for_select(@fields, :key, :name) %>
    <!-- Filter the value field to not include any fields which are not a number -->
    <%= select_tag "facets[name][terms_stats][value_field]", options_from_collection_for_select(@fields, :key, :name) %>
  <!-- Term Facets -->
    <%= select_tag 'facets[name][terms][field]', options_from_collection_for_select(@fields, :key, :name) %>
    <%= text_field_tag 'facets[name][terms][size]' %>
    <%= select_tag 'facets[name][terms][order]' options_for_select(["count","term", "reverse_count", "reverse_term"], "count") %>
  <!-- Range Facets -->
    <%= text_field_tag "facets[range1][range][field]" %>
    <%= fields_for "facets[range1][range][ranges][]", time do |f| %>
        <%= f.select_tag "key_field", options_from_collection_for_select(@fields, :key, :name) %>
    <!-- Filter the value field to not include any fields which are not a number -->
    <%= f.select_tag "value_field", options_from_collection_for_select(@fields, :key, :name) %>

      <%= f.text_field "from" %>
      <%= f.text_field "to" %>
    <% end %>
  <!-- Histogram -->
  <%= text_field_tag "facets[name][histogram][field]" %>
  <%= text_field_tag "facets[name][histogram][interval]" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
