<script>

// When the user leaves the facet_name field write the name to each of the sub fields

// on change of the facet type render the fields in the form. But we should keep track of the state for each of the different reports if the user decides to change the form

$(function(){
  // Changes to the name
  $("#report_name").blur(function(){
    var new_name = $(this).val();
    $(".field").each(function(){
      var name = $(this).attr('name');
        n1 = name.indexOf("[");
        n2 = name.indexOf("]", n1);
      $(this).attr("name", name.substr(0,n1+1) + new_name + name.substr(n2,name.length));
    });
  });
  // Changes to the select
  $("#report_type").change(function(){
    var fieldtype = $(this).val();
    var name = $("#facet_name").val();
    // remove the 
    switch (fieldtype) {
      <% ["statistical", "terms_stats", "terms", "range", "histogram"].each do |type| %>
      case "<%= type %>":
        $('#currentFields').html("<%= escape_javascript(render :partial => "#{type}") %>");
        break;
      <% end %>
    }
    // $("#currentFields").
    // $(".field").each(function(){
    //   var name = $(this).attr('name');
    //     n1 = name.indexOf("[",name.indexOf("[")+1)
    //     n2 = name.indexOf("]", n1);
    //   $(this).attr("name", name.substr(0,n1+1) + new_name + name.substr(n2,name.length));
    // });
  });

  $(".currentFields .add-field").live("click", function(e){
    e.preventDefault();
  });


});

</script>


<%= form_tag "/reports", {:role => "form"} do |f| %>

  <%= fields_for :facets do |facets| %>
    
    <div class="form-group">
      <%= label_tag :report_name, "Report name" %>
      <%= text_field_tag :report_name %>
    </div>
    <div class="form-group">
      <%= label_tag :report_type, "Report type" %>
      <%= select_tag :report_type, options_for_select([["Terms", 'terms'],['Range', 'range'],['Histogram', 'histogram'],["Statistical", 'statistical'],["Term Statistics", 'terms_stats'],['Filter', 'filter']]) %>
    </div>

    <div id="currentFields"></div>
    <div class="actions">
      <%= submit_tag "Submit", :class => "btn btn-default" %>
    </div>
  <% end %>
<% end %>
