<!-- Range Facets -->
<div class="form-group">
	<%= label_tag "facets[#{name}][range][field]", "Field name" %>
	<%= text_field_tag "facets[#{name}][range][field]" %>
</div>
<div class="form-group">
<%= label_tag "facets[#{name}][range][field]", "Field name" %>
<%= select_tag "facets[#{name}][range][ranges][key_field]", options_from_collection_for_select(@fields, :key, :name) %>
</div>
    <!-- Filter the value field to not include any fields which are not a number -->

<div class="form-group">
<%= label_tag "facets[#{name}][range][field]", "Field name" %>    
<%= select_tag "facets[#{name}][range][ranges][value_field]", options_from_collection_for_select(@fields, :key, :name) %>
</div>
<%= field_set_tag "Ranges" do %>
	<div class="form-group">
	      <%= text_field_tag "facets[#{name}][range][ranges][][from]" %>
	      <%= text_field_tag "facets[#{name}][range][ranges][][to]" %>
	</div>
<% end %>
