<div class="form-group">
<%= label_tag :statistical_type, "Statistical type" %>
<%= select_tag :statistical_type, options_for_select([['Fields', 'fields'],['Script', 'script']]) %>
</div>
<!-- Fields -->
<div class="form-group">
<%= label_tag "facets[#{name}][statistical][fields][]", "Field names" %>
<%= select_tag "facets[#{name}][statistical][fields][]",options_from_collection_for_select(@fields, :key, :name) %>
</div>
<!-- Script -->
<div class="form-group">
<%= label_tag "facets[#{name}][statistical][script]", "Script" %>
<%= text_area_tag "facets[#{name}][statistical][script]" %>
</div>
<!-- to add a variable -->
<%= field_set_tag "Parameters" do %>
	<div class="form-group">
	<%= label_tag :parameter_name, "Name" %>
	<%= text_field_tag :parameter_name %>
	<%= label_tag "facets[#{name}][statistical][params][parameter_name]", "Value" %>
	<%= text_field_tag "facets[#{name}][statistical][params][parameter_name]" %>
	</div>
<% end %>
